<!DOCTYPE html>
<html>
<head>
    <title>FANTASY TEAM SUGGESTION</title>
    <meta charset="viewport" content="with=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="first.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;1,200&display=swap" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</head>

<body>
    <section class="header header_teams">  
        <div class="nav_links">
            <ul>
                <li><a href="first.html">HOME</a></li>
                <li><a href="">ABOUT</a></li>
                <li><a href=" ">CONTACT US</a></li>
            </ul>
        </div> 

        <table class="table table-hover table-striped table-bordered  " >
            <thead>
              <tr>
                <th scope="col">Sr no.</th>
                <th scope="col"> <%= team1name %> </th>
                <th scope="col"> <%= team2name %> </th>
              </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row"> 1 </th>
                    <td> <input type="checkbox" name="" > Rohit Sharma </td>
                    <td> <input type="checkbox" name="" > MS Dhoni </td>
                </tr>
                <tr>
                    <th scope="row"> 2 </th>
                    <td> <input type="checkbox" name="" > Tim David </td>
                    <td> <input type="checkbox" name="" > Devon Conway </td>
                </tr>
                <tr>
                    <th scope="row"> 3 </th>
                    <td> <input type="checkbox" name="" > Ramandeep Singh </td>
                    <td> <input type="checkbox" name="" > Ruturaj Gaikwad </td>
                </tr>
                <tr>
                    <th scope="row"> 4 </th>
                    <td> <input type="checkbox" name="" > Tilak Varma </td>
                    <td> <input type="checkbox" name="" > Ambati Rayudu </td>
                </tr>
                <tr>
                    <th scope="row"> 5 </th>
                    <td> <input type="checkbox" name="" > Suryakumar Yadav </td>
                    <td> <input type="checkbox" name="" > Subhranshu Senapati	 </td>
                </tr>
                
                <tr>
                    <th scope="row"> 6 </th>
                    <td> <input type="checkbox" name="" > Ishan Kishan </td>
                    <td> <input type="checkbox" name="" > Moeen Ali	 </td>
                </tr>
                <tr>
                    <th scope="row"> 7 </th>
                    <td> <input type="checkbox" name="" > Tristan Stubbs </td>
                    <td> <input type="checkbox" name="" > Shivam Dube	 </td>
                </tr>
                <tr>
                    <th scope="row"> 8 </th>
                    <td> <input type="checkbox" name="" > Dewald Brevis </td>
                    <td> <input type="checkbox" name="" > Rajvardhan Hangargekar </td>
                </tr>
                <tr>
                    <th scope="row"> 9 </th>
                    <td> <input type="checkbox" name="" > Jofra Archer </td>
                    <td> <input type="checkbox" name="" > Dwaine Pretorius</td>
                </tr>
                <tr>
                    <th scope="row"> 10 </th>
                    <td> <input type="checkbox" name="" > Jasprit Bumrah </td>
                    <td> <input type="checkbox" name="" > Mitchell Santner </td>
                </tr>
                
                <tr>
                    <th scope="row"> 11 </th>
                    <td> <input type="checkbox" name="" > Arjun Tendulkar </td>
                    <td> <input type="checkbox" name="" > Player2 </td>
                </tr>
                <tr>
                    <th scope="row"> 12 </th>
                    <td> <input type="checkbox" name="" > Arshad Khan </td>
                    <td> <input type="checkbox" name="" > Ajinkya Rahane </td>
                </tr>
                <tr>
                    <th scope="row"> 13 </th>
                    <td> <input type="checkbox" name="" > Kumar Kartikeya </td>
                    <td> <input type="checkbox" name="" > Ben Stokes </td>
                </tr>
                <tr>
                    <th scope="row"> 14 </th>
                    <td> <input type="checkbox" name="" > Hrithik Shokeen </td>
                    <td> <input type="checkbox" name="" > Shaik Rasheed </td>
                </tr>
                <tr>
                    <th scope="row"> 15 </th>
                    <td> <input type="checkbox" name="" > Jason Behrendorff </td>
                    <td> <input type="checkbox" name="" > Nishant Sindhu </td>
                </tr>
                
                <tr>
                    <th scope="row"> 16 </th>
                    <td> <input type="checkbox" name="" > Akash Madhwal </td>
                    <td> <input type="checkbox" name="" > Kyle Jamieson </td>
                </tr>
                <tr>
                    <th scope="row"> 17 </th>
                    <td> <input type="checkbox" name="" > Kieron Pollard </td>
                    <td> <input type="checkbox" name="" > Ajay Mandal </td>
                </tr>
                <tr>
                    <th scope="row"> 18 </th>
                    <td> <input type="checkbox" name="" > Anmolpreet Singh </td>
                    <td> <input type="checkbox" name="" > Bhagath Varma </td>
                </tr>
                <tr>
                    <th scope="row"> 19 </th>
                    <td> <input type="checkbox" name="" > Aryan Juyal </td>
                    <td> <input type="checkbox" name="" > Maheesh Theekshana </td>
                </tr>
                <tr>
                    <th scope="row"> 20 </th>
                    <td> <input type="checkbox" name="" > Basil Thampi </td>
                    <td> <input type="checkbox" name="" > Prashant Solanki </td>
                </tr>
                
                <tr>
                    <th scope="row"> 21 </th>
                    <td> <input type="checkbox" name="" > Daniel Sams </td>
                    <td> <input type="checkbox" name="" > Deepak Chahar </td>
                </tr>
                <tr>
                    <th scope="row"> 22 </th>
                    <td> <input type="checkbox" name="" > Fabian Allen </td>
                    <td> <input type="checkbox" name="" > Simarjeet Singh </td>
                </tr>
                <tr>
                    <th scope="row"> 23 </th>
                    <td> <input type="checkbox" name="" > Jaydev Unadkat </td>
                    <td> <input type="checkbox" name="" > Matheesha Pathirana </td>
                </tr>
                <tr>
                    <th scope="row"> 24 </th>
                    <td> <input type="checkbox" name="" > Mayank Markande </td>
                    <td> <input type="checkbox" name="" > Mukesh Chowdhary </td>
                </tr>
                <tr>
                    <th scope="row"> 25 </th>
                    <td> <input type="checkbox" name="" > Murugan Ashwin </td>
                    <td> <input type="checkbox" name="" > Tushar Deshpande </td>
                </tr>
                <div id="val"></div>
            </tbody>
          </table>

          
    
        <div class="container">
            <div class="vertical-center" >
              <a href="best.html" > <button class="btn btn-primary" >Display Best 11</button></a>
            </div>
        </div>

    </section>
    
    <script>
        let output='';
        for(let i=0; i<25; i++){
            output = output + '<tr><th scope="row"> ' + i + ' </th>';
            output = output + '<td><input type="checkbox" name="" >' + team1[i] + '</td>';
            output = output + '<td><input type="checkbox" name="" >' + team2[i] + '</td> </tr>';
        }
        document.getElementById('val').innerHTML = output;
    </script>
</body>



</html>